*{
    margin: 0px;
    padding: 0px
}
.menu-container{
    background-color: rgb(68, 64, 64);
    padding: 20px ;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.menus{
    display: flex;
}
.logo-photo{
    width: 100px;
}
.item{
  margin-right: 10px;
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}
.item:hover{
    color: red;

}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
  background-color: rgb(59, 58, 58);
}
.title{
    font-size: 60px;
    font-weight: bold;


}
.desp{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;

}
.btn:hover{
    cursor: pointer;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-title{
    text-align: center;
    padding-top: 20px;
    text-shadow: 10px 10px 20px red;

}
.about{
    font-family: 'Courier New', Courier, monospace;
    font-size: bold;
}
.box{
    width: 200px;
    height: 200px;
    box-shadow: 4px 4px 16px gray ;

}